*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    color: snow;
}
.container{
    width: 100%;
    min-height: 100vh;
    height: auto;
}
.mainHeader{
    width: 70%;
    margin: 0 auto;
}
.header{
    padding-top: 10px;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
}
.BTN{
    position: relative;
    top: -24px;
}    
.stwatch{
    margin: 0 auto;
    padding-top: 200px;
    width: 90%;
    text-align: center;
}
.btnsection{
    width: 70%;
    margin: 0 auto;
    padding-top: 200px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}
.btn-start{
    display: inline-block;
    color: snow;
    padding: 3px;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}
.btn-start::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: linear-gradient(
        115deg ,
        #4fcf70 , #fad648 ,
        #a767e5 , #12bcfe,
        #44ce7b
    );
    background-size: 50% 100%;
    border-radius: inherit;
}
.btn-start:hover::before{
    animation: animborder .75s linear infinite;
}
.btn-start span{
    display: block;
    background-color: #020011;
    font-size: 16px;
    font-weight: bold;
    padding: 13px 20px;
    border-radius: 3px;
    position: relative;
    z-index: 2;
}
@keyframes animborder{
    to {
        transform: translateX(-50%);
    }
}
.btn-stop{
    display: inline-block;
    color: snow;
    padding: 3px;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}
.btn-stop::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: linear-gradient(
        115deg ,
        #4fcf70 , #fad648 ,
        #a767e5 , #12bcfe,
        #44ce7b
    );
    background-size: 50% 100%;
    border-radius: inherit;
}
.btn-stop:hover::before{
    animation: animborder .75s linear infinite;
}
.btn-stop span{
    display: block;
    background-color: #020011;
    font-size: 16px;
    font-weight: bold;
    padding: 13px 20px;
    border-radius: 3px;
    position: relative;
    z-index: 2;
}
@keyframes animborder{
    to {
        transform: translateX(-50%);
    }
}
.btn-reset{
    grid-column-start: 1;
    grid-column-end: 3;
}
.btn-reset{
    display: inline-block;
    color: snow;
    padding: 3px;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}
.btn-reset::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: linear-gradient(
        115deg ,
        #4fcf70 , #fad648 ,
        #a767e5 , #12bcfe,
        #44ce7b
    );
    background-size: 50% 100%;
    border-radius: inherit;
}
.btn-reset:hover::before{
    animation: animborder .75s linear infinite;
}
.btn-reset span{
    display: block;
    background-color: #020011;
    font-size: 16px;
    font-weight: bold;
    padding: 13px 20px;
    border-radius: 3px;
    position: relative;
    z-index: 2;
}
@keyframes animborder{
    to {
        transform: translateX(-50%);
    }
}
.lastBtnSection{
    width: 70%;
    padding-top: 80px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-savetime{
    border: 3px solid snow;
    border-radius: 50%;
    padding: 10px;
    background-color: #020011;
    color: snow;
}
.saveTimeString{
    width: 70%;
    margin: 0 auto;
    text-align: right;
    padding-top: 10px;
}
.checkbox {
    opacity: 0;
    position: absolute;
}
.label {
    width: 30px;
    height: 16px;
    background-color: black;
    display: flex;
    border-radius:50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
}
.btn-d-l{
    width: 10px;
    height: 10px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}  
.checkbox:checked .label .btn-d-l{
    transform: translateX(50%);
}
  
/* media queries */
@media screen and (min-width: 720px) {
    .mainHeader{
        width: 50%;
    }
    .stwatch{
        width: 70%;
    }
    .btnsection{
        width: 50%;
    }
    .lastBtnSection{
        width: 50%;
    }
    .saveTimeString{
        width: 50%;
    }
  }